#root{
    min-height: 100vh;
    background-color: rgb(198, 255, 213);
}
html{
    background-color: rgb(198, 255, 213);
}

@keyframes cambiarColorTitulo{
    0%{
        color: rgb(100,150,200);
    }
    25%{
        color: rgb(84, 152, 219);
    }
    50%{
        color: rgb(79, 141, 203);
    }
    75%{
        color: rgb(42, 113, 184);
    }
    100%{
        color: rgb(9, 70, 131);
    }
}

.color-loop{
    animation: cambiarColorTitulo 1s infinite alternate-reverse;
}

img{
    width: 60px;
}

.label{
    font-weight: bold;
    color: rgb(9, 70, 131);
}

.bg-form{
    background-color: rgba(0, 0, 0, 0.1);
}

.contenedor-card .card-mascota{
    background-color: #f5e1ce;
}

.bold{
    font-weight: bold;
}

.icono-grande{
    font-size: 25px;
}

.btn-eliminar{
    width: 60px;
    border: 1px solid #f5e1ce;
    background-color: #f5e1ce;

}

.btn-eliminar:hover{
    background-color: #ffc58f;
    border: 1px solid black;
}

@media (max-width: 991px) {
    .bg-form{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .bg-form{
        width: 50%;
    }
    .btn{
        width: 30%;
    }
}